body {
  margin: auto 0;
  font-family: sans-serif;
}

.logo {
  background-color: black;
  color: white;
  display: inline-flex;
  width: 100%;
}
.logo img {
  padding: 2rem 1rem 2rem 20%;
  display: flex;
  align-self: center;
  width: 2.5rem;
  height: 1.5rem;
}
.logo span {
  display: flex;
  align-self: center;
}
