body {
  margin: auto 0;
  font-family: sans-serif;
}

/* logo top banner */

.logo {
  background-color: black;
  color: white;
  display: inline-flex;
  width: 100%;
}
.logo img {
  padding: 2rem 1rem 2rem 20%;
  display: flex;
  align-self: center;
  width: 2.5rem;
  height: 1.5rem;
}
.logo span {
  display: flex;
  align-self: center;
}

/* main banner */

.main-banner {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position:bottom;
  background-size: cover;
  height: 350px;
  display: flex;
  align-items: center;
}
.arrival {
  margin-left: 20%;
  padding: 2em;
  color: white;
  background-color: black;
  width: 23%;
}
